/*
 * Copyright (c) 2022 Benjamin Björnsson <benjamin.bjornsson@gmail.com>.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7/stm32h747Xi_m4.dtsi>
#include <st/h7/stm32h747xihx-pinctrl.dtsi>
#include "manikin_mainboard_portenta-common.dtsi"

/ {
	model = "Manikin Mainboard Portenta";
	compatible = "robotpatient,mainboard-portenta";

	/* HW resources are split between CM7 and CM4 */

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram1;
		zephyr,flash = &flash1;
		zephyr,bt-hci = &bt_hci_uart;
	};
};

&rcc {
	clock-frequency = <DT_FREQ_M(200)>;
};

&usart1 {
	status = "okay";
};

&uart7 {
	pinctrl-0 = <&uart7_tx_pa15 &uart7_rx_pf6
		     &uart7_cts_pf9 &uart7_rts_pf8>;
	pinctrl-names = "default";
	current-speed = <115200>;
	hw-flow-control;
	status = "okay";

	bt_hci_uart: bt_hci_uart {
		compatible = "zephyr,bt-hci-uart";
		status = "okay";

		murata-1dx {
			compatible = "infineon,cyw43xxx-bt-hci";
			bt-reg-on-gpios = <&gpioj 12 GPIO_ACTIVE_HIGH>;
			bt-host-wake-gpios = <&gpioj 13 GPIO_ACTIVE_HIGH>;
			bt-dev-wake-gpios = <&gpioj 14 GPIO_ACTIVE_HIGH>;
		};
	};
};
