# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python venv for zephyr
.venv/
.west/
zephyr/

# Build folders
build/
Build/
cmake-*

# IDE folders
.vscode/
.idea/

# Ozone debug files
*.user