/ {
    aliases {
            led0 = &myled0;
            sw0 = &mybutton0;  // Link sw0 alias to your button
    };

    leds {
            compatible = "gpio-leds";
            myled0: led_0 {
                    gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;
            };
    };
    keys {
        compatible = "gpio-keys";

        mybutton0: button_0 {
            label = "User Button";
            gpios = <&gpioh 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        };
    };
};